#CCS Specifics
.ccsproject
.cproject
.project
.launches
.settings
Debug
# TI's driverlib
driverlib_cc13xx_cc26xx
#exclude CCS workspace stuff
/.metadata/
.jx*
#kilobots executable and log
/kbot_sim/bin
/kbot_sim/simulation.log
maps/*.png

maps/tests
maps/swatches
maps/open_loop_tests
# maps/arena/arena_[3,4,5].svg
maps/arena/arena_old

#ignore eagle backups
*.s#*
*.l#*

__pycache__